* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
    min-height: 100vh;
}

.wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.number-hours {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.bar-seconds,
.number-hours span {
    position: absolute;
    transform: rotate(calc(var(--index) * 30deg));
    inset: 6px;
    text-align: center;
}

.bar-seconds span p {
    display: inline-block;
    width: 2px;
    height: 12px;
    background-color: #0ef;
    border-radius: 2px;
    box-shadow: 0 0 10px #0ef;
}

.bar-seconds span {
    position: absolute;
    transform: rotate(calc(var(--index) * 6deg));
    inset: -20px;
    text-align: center;
}

.bar-seconds span:nth-child(5n) p {
    width: 6px;
    height: 18px;
    transform: translateY(1px);
}

.number-hours span p {
    color: #0ef;
    font-size: 52px;
    text-shadow: 0 0 10px #0ef;
    transform: rotate(calc(var(--index) * -30deg));
}